<template>
<div id="collectionview">

<v-container fluid>
	<v-layout row>
		<v-flex xs9>
			<GraphComponent ref="graphComp" v-bind:collection="collection" 
							v-bind:startDate="startDateString"  
							v-bind:endDate="endDateString" 
							v-bind:compositeSeries="compositeSeries" 
							@timeWindowButtonClicked="changeTimeSpan" />
		</v-flex>

		<v-flex xs3>
			<StockList  v-bind:instPerformance="instPerfs" 
						v-bind:unsupportedInstruments="unsupportedInstruments"
						v-bind:collectionName="collection"/>
		</v-flex>
	</v-layout>
</v-container>
</div>

</template>

<script>

import StockList from './StockList'
import GraphComponent from './GraphComponent'
export default {
	name: 'app',
	components: {
		StockList,
		GraphComponent
	},
	data(){
		return {
			historicals: {},
			instPerfs: [],
			unsupportedInstruments:[],
			compositeSeries: {},
			startDateString: null,
			endDateString: null
		}
	},
	props:[
		"collection"
	],
	methods: {
		loadCollection: function(collectionName, histData, collectionElements){
			this.historicals = histData;
			this.collection = collectionName;
			// Start date is 6 months ago
			// End date is now
			var now = new Date();
			var sixMonthsAgo = new Date();
				sixMonthsAgo.setMonth(now.getMonth() - 6);
			this.startDateString = sixMonthsAgo.toISOString().substring(0,10);
			this.endDateString = now.toISOString().substring(0,10);
			this.calcDelta(sixMonthsAgo, now);

			this.unsupportedInstruments = []
			this.unsupportedInstruments.push(
				...collectionElements.filter(inst => {
					return !(inst in this.historicals);
				}).map(inst => {
					return {symbol:inst}
				}));

			this.computeComposite(sixMonthsAgo);
			this.$refs.graphComp.resetTimePicker(3); // Lel magic number
		},

		computeComposite: function(startDate){
			var previous = {};
			var compositeSeries = {};
			var n = 1;
			var count = Object.keys(this.historicals).length;
			for (var key in this.historicals){
				var stockData = this.historicals[key];
				var datesInOrder = Object.keys(stockData).sort();
				var prev = this.firstTimestampAfter(stockData, startDate, datesInOrder);
				
				// Calc Delta from baseline
				var base = stockData[prev].open;	
				if (!(prev in compositeSeries)){
					compositeSeries[prev] = 0;
				}
				for(var i = 1; i < datesInOrder.length; i++){
					var curr = datesInOrder[i];
					var currPrice;
					if (curr in stockData){
						// This the most recently seen data now.
						prev = curr;
						currPrice = stockData[curr].close;
					}else{
							// Keep using the old data until we find new data.
							currPrice = stockData[prev].close;
					}
					if (curr in compositeSeries){
						compositeSeries[curr] += (currPrice - base) / base;
					}else{
						compositeSeries[curr] = (currPrice - base) / base;
					}

				} 
			}
			for (var date in compositeSeries){
				compositeSeries[date] = compositeSeries[date] / count;
			}
			this.compositeSeries = compositeSeries;
		},

		calcDelta: function(startDate, endDate){
			this.instPerfs = [];
			for(var key in this.historicals){
				var stockData = this.historicals[key];
				var datesInOrder = Object.keys(stockData).sort(); 
				var firstDateStamp = this.firstTimestampAfter(stockData, startDate, datesInOrder);
				var lastDateStamp = this.lastTimestampBefore(stockData, endDate, datesInOrder);

				var firstOpen = stockData[firstDateStamp].open;
				var lastClose = stockData[lastDateStamp].close;
				var perfDelta = (lastClose - firstOpen) / firstOpen;


				var perf = {symbol:key, delta:perfDelta}
				
				this.instPerfs.push(perf);
			}
		},

		changeTimeSpan(timespan){
			this.calcDelta(timespan.startDate, timespan.endDate);

			this.startDateString = timespan.startDate.toISOString().substring(0,10);
			this.endDateString = timespan.endDate.toISOString().substring(0,10);
			this.computeComposite(timespan.startDate);
			this.$refs.graphComp.fillData(this.startDateString, this.endDateString);
		},

		// If this is slow, replace these with binary approximation for faster performance.
		// This may be a performance bottleneck idk yet/
		lastTimestampBefore: function(stock, date, orderedDates){
			if(!stock){
				return null;
			}

			let targetDate = new Date(date.getTime());
			let dateString = targetDate.toISOString().substring(0,10);
			while(!(dateString in stock) && dateString > orderedDates[0]){
				targetDate.setDate(targetDate.getDate() - 1);
				dateString = targetDate.toISOString().substring(0,10);
			}

			return dateString;
		},
		firstTimestampAfter: function(stock, date,orderedDates){
			if(!stock){
				return null;
			}
			let targetDate = new Date(date.getTime());
			let dateString = targetDate.toISOString().substring(0,10);
			while( !(dateString in stock) && dateString < orderedDates[orderedDates.length - 1]){
				targetDate.setDate(targetDate.getDate() + 1);
				dateString = targetDate.toISOString().substring(0,10);

			}
			return dateString;
		}
	}
}
</script>

<style>

</style>
