<template>
    <div>
        <canvas id="displayChart" height="500"/>
        <v-layout column>
            <v-btn-toggle v-model="toggle_exclusive" mandatory>
                <v-btn flat @click="handleTimeWindowButtonClick(7,0,0)" >
                    1W
                </v-btn>

                <v-btn flat @click="handleTimeWindowButtonClick(0,1,0)" >
                    1M
                </v-btn>

                <v-btn flat @click="handleTimeWindowButtonClick(0,3,0)" >
                    3M
                </v-btn>

                <v-btn flat @click="handleTimeWindowButtonClick(0,6,0)" >
                    6M
                </v-btn>
                
                <v-btn flat @click="handleTimeWindowButtonClick(0,0,1)">
                    1Y
                </v-btn>
            </v-btn-toggle>
        </v-layout>
    </div>
</template>

<script>
import Chart from 'chart.js'
export default {
    name: "GraphComponent",
    data () {
        return {
            toggle_exclusive: 3,
            datacollection: null,
            dataChart: null
        }
    },
    props:[
        "collection",
        "startDate",
        "endDate",
        "compositeSeries"
    ],
    watch: {
        compositeSeries: function(val){
            this.fillData(this.startDate, this.endDate);
        }
    },
    mounted() {
        this.fillData(this.startDate, this.endDate);
    },
    methods:{
        resetTimePicker(ind){
            this.toggle_exclusive = ind;
        },
        fillData(startDate, endDate){
            var dateLabels = Object.keys(this.compositeSeries).sort()
                                   .filter(x => startDate <= x && x <= endDate);
            var compData = dateLabels.map(x => this.compositeSeries[x]);
            var chartLabel = "Change Since " + startDate;
            var lineColor = (compData[compData.length - 1] < 0) ? "#f45531" : "#21ce99";
            this.datacollection = {
                labels: dateLabels,
                datasets: [
                    {
                        label: chartLabel,
                        data: compData,
                        borderColor: lineColor,
                        lineTension: 0
                    }
                ]
            };

            Chart.Tooltip.positioners.cursor = function(chartElements, coordinates){
                return coordinates;
            }

            var displayOptions = {
                responsive: true,
                maintainAspectRatio: false,
                elements:{
                    point: {
                        radius: 0,
                        hitRadius:5,
                        hoverRadius: 8
                    }
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                    position: 'cursor',
                    callbacks: {
                        label: function(tooltipItem, data){
                            var percentDelta = (100* tooltipItem.yLabel).toFixed(4);
                            percentDelta = (percentDelta > 0) ? "+" + percentDelta + "%" : percentDelta + "%";
                            return percentDelta;
                        }
                    }
                }
            };
            this.createChart('displayChart', this.datacollection, displayOptions);
        },
        createChart(chartId, chartData, chartOptions){
            var canvas = document.getElementById(chartId);
            if (this.dataChart){
                this.dataChart.destroy();
            }
            this.dataChart = new Chart(canvas, {
                    type: 'line',
                    data: chartData,
                    options: chartOptions
                });
        },

        handleTimeWindowButtonClick(days, months, years){
            var now = new Date();
            var newStartDate = new Date();
            newStartDate.setFullYear(now.getFullYear() - years);
            newStartDate.setMonth(now.getMonth() - months);
            newStartDate.setDate(now.getDate() - days);
            this.$emit('timeWindowButtonClicked', {
                startDate: newStartDate,
                endDate: now
            });
        }
    }
}

</script>

<style>

</style>