<template>
<div>

<v-container>

    <v-toolbar dark>
        <v-toolbar-title>{{collectionName}}</v-toolbar-title>
        <v-spacer></v-spacer>
    </v-toolbar>

	<v-layout column>
        <v-list>
            <div v-bind:key="inst.symbol" v-for="inst in deltaOrdered">
                <StockInfo  v-bind:StockPerf=inst />
                <v-divider />
            </div>
            <div v-bind:key="inst.symbol" v-for="inst in unsupportedInstruments">
                <UnsupportedStockInfo  v-bind:UnsupportedStock=inst />
                <v-divider />
            </div>
        </v-list>
	</v-layout>
</v-container>
</div>
</template>

<script>
import StockInfo from './StockInfo'
import UnsupportedStockInfo from './UnsupportedStockInfo'
import orderBy from 'lodash'
export default {
    name: "StockList",
    components: {
        StockInfo,
        UnsupportedStockInfo
    },
    props:[
        "instPerformance",
        "unsupportedInstruments",
        "collectionName"
    ],
    computed: {
        deltaOrdered(){
            return this.instPerformance.sort((a,b) => {return b.delta - a.delta});
        }
    }
}
</script>

<style>

</style>