<template>
    <v-list-tile>
        <v-list-tile-content>
            {{StockPerf.symbol}}
        </v-list-tile-content>
        <v-list-tile-action v-bind:class="getClass(StockPerf.delta)">
            {{percentDeltaString}}
        </v-list-tile-action>

    </v-list-tile>
</template>

<script>
export default {
    name: "StockInfo",
    props:[
        "StockPerf"
    ],
    methods:{
        getClass(delta){
            if(delta < 0){
                return 'rh-red'
            }

            return 'rh-green'
        }
    },
    computed:{
        percentDeltaString(){
            var percentDelta = (100* this.StockPerf.delta).toFixed(4);
            percentDelta = (percentDelta > 0) ? "+" + percentDelta + "%" : percentDelta + "%";
            return percentDelta;
        }
    }
}

</script>

<style>

</style>