<template>
	<header>
		<v-toolbar app>
		<v-btn flat @click.stop="getCollections">
			<v-icon dark left>view_headline</v-icon> <span class='mr-3'>Collections</span>
		</v-btn>
		<v-spacer></v-spacer>
		<v-btn flat href="https://gitlab.com/byi8220/rhcharts" target="_blank">
			<span class="mr-2">Gitlab</span>
		</v-btn>
		</v-toolbar>
		<v-navigation-drawer v-model="collectiondrawer" absolute temporary>
			<v-list dense>
				<v-list-tile v-for="item in items" :key="item" style="padding-bottom:5px" 
					class="colle-tile" v-on:click="emitSelectCollection($event, item)">
					
					<v-list-tile-content>
						
						<v-list-tile-title style="font-size:18px">{{ item }}</v-list-tile-title>
					</v-list-tile-content>
					
				</v-list-tile>
			</v-list>
		</v-navigation-drawer>

	</header>
</template>

<script>
import MarketDataAPI from '@/api/marketdata.js'
export default {
	data(){
		return {
			collectiondrawer: null,
			items: [
			]
		}
	},
	methods: {
		getCollections: function() {
			MarketDataAPI.getCollections().then(response =>{
				let collections = response.data;
				this.items.splice(0,this.items.length);
				Array.prototype.push.apply(this.items, collections);
				this.collectiondrawer = !this.collectiondrawer;

			});
		},
		emitSelectCollection: function(event, item){
			this.$emit('selectCollection', item);
		}
	}
}

</script>

<style scoped>
.colle-tile:hover{
	background-color:cadetblue;
}
</style>
