<template>
    <v-list-tile>
        <v-list-tile-content>
            {{UnsupportedStock.symbol}}
        </v-list-tile-content>
        <v-list-tile-action>
            Data Unavailable
        </v-list-tile-action>

    </v-list-tile>
</template>

<script>
export default {
    name: "UnsupportedStockInfo",
    props:[
        "UnsupportedStock"
    ]
}

</script>

<style>

</style>