.main-style{
    background-color:#1B1B1D;
    color: #FFFFFF;
    font-size:24
}

a{
    color:#21ce99;
}
a:visited{
    color:#549688 
}

.rh-green{
    color: #21ce99;
}
.rh-dark-green{
    color:#182B27 
}
.rh-red{
    color:#f45531
}
.rh-dark-line{
    color:#0E0D0D
}