<template>
	<v-app dark >
		<tbComp ref="mainTopBar" v-on:selectCollection="onSelectCollection" />
		<v-content class=main-style>
		<cvComp ref="colleView"/>
		</v-content>
	</v-app>
</template>

<script>
import CollectionView from './components/CollectionView'
import TopBar from './components/TopBar'
import MarketDataAPI from '@/api/marketdata.js'

export default {
	name: 'App',
	data() {
		return{
			defaultCollection:'100-most-popular/'
		}
	},
  components: {
	'cvComp': CollectionView,
	'tbComp': TopBar
  },
  methods: {
		onSelectCollection: function(collectionSlug){
			console.log(collectionSlug);
			// Load Historicals
			var historicalsPromise = MarketDataAPI.getCollectionHistoricals(collectionSlug);
			var cePromise = MarketDataAPI.getCollectionMembers(collectionSlug);
			Promise.all([historicalsPromise, cePromise]).then(responses =>{
				var historicals = responses[0].data;
				var elements = responses[1].data;
				this.$refs.colleView.loadCollection(collectionSlug,historicals,elements);
			})
    	}
	},
	mounted (){
		this.onSelectCollection(this.defaultCollection);
	}
}
</script>
